@import '../../variables';

ul{
    list-style: none;
    margin-top: 60px;
    padding: 0;
    li{
        display: flex;
        justify-content: center;
        background-color: $li_color;
      span{
        border: 1px solid;
        border-right: none;
        width: 100%;
        padding: 10px 15px;
      }
      button{
        background-color: $delete_color;
        font-weight: 600;
        padding: 10px 10px;
        border: 0;
        border-bottom: 1px solid;
        box-shadow: 1px 1px 1px rgb(85, 84, 84);
        cursor: pointer;
        &:hover{
            background-color: $delete_color_onhover;
        }
      }
    }
}